/*
Students: Nave Shimoni 207382987
          Zohar Sabag 209494111
*/

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: auto;
  margin:10px;
  width: 600px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

label {
  display: block;
  margin: 10px 0;
}

span {
 min-width: 10px;
}

input,
select{
  margin: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width:9rem;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.seperate-line{
  background-color: #333;
  height: 0.5px;
  margin-top: 20px;
}
